{
  "metrics": [],
  "training_set_path": "data/fb15k-237/train.tsv",
  "test_set_path": "data/fb15k-237/valid_200.tsv",
  "mapping_path": "data/fb15k-237/",
  "execution_mode": "Training_mode",
  "random_seed": 2,
  
  "kg_embedding_model_name": "ConvE",
  "region_type": "",
  "embedding_dim": 200,
  
  "ConvE_input_channels": 1,
  "ConvE_output_channels": 32,
  "ConvE_height": 20,
  "ConvE_width": 10,
  "ConvE_kernel_height": 3,
  "ConvE_kernel_width": 3,
  "conv_e_input_dropout": 0.2,
  "conv_e_feature_map_dropout": 0.2,
  "conv_e_output_dropout": 0.3,
  
  "reg_lambda": 0.0,
  "loss_type": "MRL",
  "margin_loss": 1,
  
  "neg_factor": 100,
  "corrupt_relations": false,
  "filter_negative_triples": false,

  "normalize": true,
  "normalization_of_entities": 2,
  "strict_norm": true,
  
  "learning_rate": 0.001,
  "es_metric": "custom",
  "num_epochs": 1000,
  "batch_size": 14,
  "test_batch_size": 18,
  "preferred_device": "gpu7"
}
